################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ItfCodeWebApp/DesignTimeBuild
/.vs/ItfCodeWebApp/FileContentIndex
/.vs/ItfCodeWebApp/v17
/.vs/ItfCodeWebApp-Back/DesignTimeBuild/.dtbcache.v2
/.vs/ItfCodeWebApp-Back/FileContentIndex
/.vs/ItfCodeWebApp-UI-Blazor/FileContentIndex
/.vs/ItfCodeWebApp-UI-Blazor/v17
/.vs/ProjectEvaluation
/helpers/ITFCodeWA.Helper.DataCollector/bin/Debug/net6.0
/helpers/ITFCodeWA.Helper.DataCollector/obj/Debug/net6.0
/helpers/ITFCodeWA.Helper.DataCollector/obj
/.vs/ItfCodeWebApp-UI-Blazor/DesignTimeBuild
/modules/ITFCodeWA.Core.API/bin/Debug/net6.0
/modules/ITFCodeWA.Core.API/obj/Debug/net6.0
/modules/ITFCodeWA.Core.API/obj
/modules/ITFCodeWA.Core.CQRS/bin/Debug/net6.0
/modules/ITFCodeWA.Core.CQRS/obj
/modules/ITFCodeWA.Core.Data/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Data/obj
/modules/ITFCodeWA.Core.Domain/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Domain/obj
/modules/ITFCodeWA.Core.Models/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Models/obj/Debug/net6.0
/modules/ITFCodeWA.Core.Models/obj
/modules/ITFCodeWA.Core.Service/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Service/obj/Debug/net6.0
/modules/ITFCodeWA.Core.Service/obj
/modules/ITFCodeWA.Core.Web/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Web/obj/Debug/net6.0
/modules/ITFCodeWA.Core.Web/obj
/modules/ITFCodeWA.Extensions.BooleanExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.BooleanExtendors/obj
/modules/ITFCodeWA.Extensions.ComparableExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.ComparableExtendors/obj
/modules/ITFCodeWA.Extensions.DateTimeExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTimeExtendors/obj/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTimeExtendors/obj
/modules/ITFCodeWA.Extensions.DateTimeNullableExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTimeNullableExtendors/obj
/modules/ITFCodeWA.Extensions.DateTimeOffsetExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTimeOffsetExtendors/obj/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTimeOffsetExtendors/obj
/modules/ITFCodeWA.Extensions.DateTimeOffsetNullableExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTimeOffsetNullableExtendors/obj
/modules/ITFCodeWA.Extensions.DictionaryExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.DictionaryExtendors/obj/Debug/net6.0
/modules/ITFCodeWA.Extensions.DictionaryExtendors/obj
/modules/ITFCodeWA.Extensions.EnumerableExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.EnumerableExtendors/obj
/modules/ITFCodeWA.Extensions.JavaScriptEnxtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.JavaScriptEnxtendors/obj
/modules/ITFCodeWA.Extensions.ListExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.ListExtendors/obj
/modules/ITFCodeWA.Extensions.ObjectExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.ObjectExtendors/obj
/modules/ITFCodeWA.Extensions.QueryableExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.QueryableExtendors/obj
/modules/ITFCodeWA.Extensions.StringExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.StringExtendors/obj
/modules/ITFCodeWA.Extensions.TypeExtendors/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.TypeExtendors/obj
/projects/ITFCodeWA.API/bin/Debug/net6.0
/projects/ITFCodeWA.API/obj
/projects/ITFCodeWA.ClientAngular/ClientApp/.angular/cache/13.3.4
/projects/ITFCodeWA.ClientBlazor/bin/Debug/net6.0
/projects/ITFCodeWA.ClientBlazor/obj
/projects/ITFCodeWA.ClientMudBlazor/bin/Debug/net6.0
/projects/ITFCodeWA.ClientMudBlazor/obj
/projects/ITFCodeWA.Data/bin/Debug/net6.0
/projects/ITFCodeWA.Data/obj
/projects/ITFCodeWA.Domain/bin/Debug/net6.0
/projects/ITFCodeWA.Domain/obj
/projects/ITFCodeWA.InitialData/bin/Debug/net6.0
/projects/ITFCodeWA.InitialData/obj
/projects/ITFCodeWA.MapperConfig/bin/Debug/net6.0
/projects/ITFCodeWA.MapperConfig/obj
/projects/ITFCodeWA.Models/bin/Debug/net6.0
/projects/ITFCodeWA.Models/obj
/projects/ITFCodeWA.Services/bin/Debug/net6.0
/projects/ITFCodeWA.Services/obj
/tests/basis/ITFCodeWA.BasisTests/bin/Debug/net6.0
/tests/basis/ITFCodeWA.BasisTests/obj
/tests/modules/ITFCodeWA.Core.CQRS.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.CQRS.Tests/obj
/tests/modules/ITFCodeWA.Core.Data.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Data.Tests/obj
/tests/modules/ITFCodeWA.Core.Domain.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Domain.Tests/obj
/tests/modules/ITFCodeWA.Core.Models.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Models.Tests/obj
/tests/modules/ITFCodeWA.Core.Services.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Services.Tests/obj
/tests/modules/ITFCodeWA.Core.Web.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Web.Tests/obj
/tests/modules/ITFCodeWA.Extensions.BooleanExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.BooleanExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.ComparableExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.ComparableExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.DateTimeExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.DateTimeExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.DateTimeNullableExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.DateTimeNullableExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.DateTimeOffsetExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.DateTimeOffsetExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.DateTimeOffsetNullableExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.DateTimeOffsetNullableExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.DictionaryExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.DictionaryExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.EnumerableExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.EnumerableExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.ObjectExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.ObjectExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.QueryableExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.QueryableExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.StringExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.StringExtendors.Tests/obj
/tests/modules/ITFCodeWA.Extensions.TypeExtendors.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Extensions.TypeExtendors.Tests/obj
/tests/projects/ITFCodeWA.ClientMudBlazor.Tests/bin/Debug/net6.0
/tests/projects/ITFCodeWA.ClientMudBlazor.Tests/obj
/tests/projects/ITFCodeWA.Data.Tests/bin/Debug/net6.0
/tests/projects/ITFCodeWA.Data.Tests/obj
/tests/projects/ITFCodeWA.Models.Tests/bin/Debug/net6.0
/tests/projects/ITFCodeWA.Models.Tests/obj
/tests/projects/ITFCodeWA.Services.Tests/bin/Debug/net6.0
/tests/projects/ITFCodeWA.Services.Tests/obj
/tests/projects/ITFCodeWA.MapperConfig.Tests/bin/Debug/net6.0
/tests/projects/ITFCodeWA.MapperConfig.Tests/obj
/.vs/ItfCodeWebApp-UI/v17/TestStore/0
/.vs/ItfCodeWebApp-UI/FileContentIndex
/.vs/ItfCodeWebApp-UI/DesignTimeBuild
/.vs/ItfCodeWebApp-UI/v17
