################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ItfCodeWebApp
/.vs/ProjectEvaluation
/modules/ITFCodeWA.Core.CQRS/obj
/modules/ITFCodeWA.Core.CQRS/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Data/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Data/obj/Debug/net6.0
/modules/ITFCodeWA.Core.Data/obj
/modules/ITFCodeWA.Core.Models/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Models/obj
/modules/ITFCodeWA.Core.Service/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Service/obj
/modules/ITFCodeWA.Core.Web/bin/Debug/net6.0
/modules/ITFCodeWA.Core.Web/obj
/modules/ITFCodeWA.Extensions.Boolean/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.Boolean/obj
/modules/ITFCodeWA.Extensions.Comparable/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.Comparable/obj
/modules/ITFCodeWA.Extensions.DateTime/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.DateTime/obj
/modules/ITFCodeWA.Extensions.Enumerable/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.Enumerable/obj
/modules/ITFCodeWA.Extensions.Object/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.Object/obj
/modules/ITFCodeWA.Extensions.Queryable/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.Queryable/obj
/modules/ITFCodeWA.Extensions.String/bin/Debug/net6.0
/modules/ITFCodeWA.Extensions.String/obj
/projects/ITFCodeWA.Data/bin/Debug/net6.0
/projects/ITFCodeWA.Data/obj
/projects/ITFCodeWA.Models/bin/Debug/net6.0
/projects/ITFCodeWA.Models/obj
/projects/ITFCodeWA.Services/bin/Debug/net6.0
/projects/ITFCodeWA.Services/obj/Debug/net6.0
/projects/ITFCodeWA.Services/obj
/ITFCodeWA.Core.Services.Tests/bin/Debug/net6.0
/ITFCodeWA.Core.Services.Tests/obj
/tests/modules/ITFCodeWA.Core.CQRS.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.CQRS.Tests/obj
/tests/modules/ITFCodeWA.Core.Data.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Data.Tests/obj
/tests/modules/ITFCodeWA.Core.Models.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Models.Tests/obj
/tests/modules/ITFCodeWA.Core.Web.Tests/bin/Debug/net6.0
/tests/modules/ITFCodeWA.Core.Web.Tests/obj
