﻿@using ITFCodeWA.ClientMudBlazor.Components.PagePart

@inherits GeneralBasePage

<PageTitle>@Title</PageTitle>

<CardContent>

    <HeadingContent>
        <PageHeading Title="@Title"></PageHeading>
    </HeadingContent>

    <BodyContent>
        <LoadContent Loading="@Loading" LoadFailed="@LoadFailed" Error="@Error">
            <InternalContent>
                @if (LoadFailed)
                {
                    <MudAlert Severity="Severity.Error" Dense="true" Class="my-2">
                        Ошибка загрузки страницы
                    </MudAlert>
                }
                else
                {
                    <MudGrid>
                        <MudItem md="12">
                            @PageContent
                        </MudItem>
                    </MudGrid>
                }
            </InternalContent>
        </LoadContent>
    </BodyContent>
    <FooterContent>

    </FooterContent>
</CardContent>

@code {

    [Parameter]
    public RenderFragment PageContent { get; set; }
}